#include <zephyr/dt-bindings/pinctrl/esp32c6-pinctrl.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
    aliases {
        motor = &motor0;
		motor-output-a = &motor_output_a;
		motor-output-b = &motor_output_b;
		motor-en-a = &motor_en_a;
		motor-en-b = &motor_en_b;
    };
    
    chosen {
        zephyr,console = &usb_serial;
        zephyr,shell-uart = &usb_serial;
    };

    zephyr,user {
        io-channels = <&adc0 5>, <&adc0 6>;
    };

    // TODO: motors (pwm attempt) isn't working properly.
    motors {
        // compatible = "pwm-leds";
        status= "okay";
        pinctrl-0 = <&mcpwm0_default>;
        pinctrl-names = "default";

        motor0: motor0 {
            pwms = <&mcpwm0 0 0 PWM_POLARITY_NORMAL>;
                //    <&mcpwm0 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        };
    };

    h-bridge {
		compatible = "gpio-leds";

        // GP15 -> purple wire -> R_{PWM}
		motor_output_a: motor_output_a {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		};

        // GP18 -> brown wire -> L_{PWM}
        motor_output_b: motor_output_b {
			gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
		};

        // GP8 -> green wire -> R_{EN}
		motor_en_a: motor_en_a {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		};

        // GP14 -> blue wire -> L_{EN}
        motor_en_b: motor_en_b {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		};
	};

    buttons {
        compatible = "gpio-keys";

        trigger_button: trigger_button {
            gpios = <&gpio0 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Trigger";
            zephyr,code = <INPUT_KEY_ENTER>;
        };
    };
};

&pinctrl {
    twai0_default: twai0_default {
        group1 {
            pinmux =
               <TWAI0_RX_GPIO19>,
               //<ESP32_PINMUX(19, ESP_TWAI0_RX, ESP_NOSIG)>,
               <TWAI0_TX_GPIO20>;
               //<ESP32_PINMUX(20, ESP_NOSIG, ESP_TWAI0_TX)>; // TODO: figure out why esp32c6-pinctrl.h isn't being included properly
        };
    };

    mcpwm0_default: mcpwm0_default {
        group1 {
            pinmux = <MCPWM0_OUT0A_GPIO0>;
            // pinmux = <MCPWM0_OUT0A_GPIO18>, // maps to mpwm0 0
            //          <MCPWM0_OUT0B_GPIO19>;  // maps to mpwm0 1
            output-enable;
        };
    };
};

&usb_serial {
    status = "okay";
};

&adc0 {
    status = "okay";
    #address-cells = <1>;
	#size-cells = <0>;
    compatible = "espressif,esp32-adc";
    channel@3 {
        reg = <3>;
        zephyr,gain = "ADC_GAIN_1_4"; 
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,vref-mv = <1100>;
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
	};
    channel@4 {
        reg = <4>;
        zephyr,gain = "ADC_GAIN_1_4";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,vref-mv = <1100>;
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
	};
    channel@5 {
        reg = <5>;
        zephyr,gain = "ADC_GAIN_1_4"; 
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,vref-mv = <1100>;
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
	};
    channel@6 {
        reg = <6>;
        zephyr,gain = "ADC_GAIN_1_4";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,vref-mv = <1100>;
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
	};
};

&twai0 {
    status = "okay";
    pinctrl-0 = <&twai0_default>;
    pinctrl-names = "default";
    bitrate = <500000>;
};

&mcpwm0 {
    // status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    #pinctrl-names = "default";
    prescale = <0>; // fclk = 80MHz, pwm_clk = fclk / (prescale + 1) = 5MHz
    prescale-timer0 = <0>;
    prescale-timer1 = <0>;
    prescale-timer2 = <0>;
};

&gpio0 {
	status = "okay";
};

